.share {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 50%;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions {
    margin-left: 20px;
    display: flex;
}

.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    justify-content: space-between;
    cursor: pointer;
}

.shareIcon {
    font-size: 18px !important;
    margin-right: 3px;
}

.shareOptionText {
    font-style: 14px;
    font-weight: 500;
}

.shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}