.sideBar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
}


.sideBarWrapper {
    padding: 20px;
}

.sideBarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sideBarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sideBarIcon {
    margin-right: 15px;
}

.sideBarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sideBarHr {
    margin: 20px 0px;
}

.sideBarCloseFriendList {
    margin-bottom: 10px;
}